<p>Esta aplicacion esta diseñada para uso exclusivo de (Nombre de la empresa ).
    <br/>
    <br/>
    Permite al usuario calcular la cantidad de barras de aluminio necesarias
    para cubrir los requerimientos especificados en la aplicacion
    <br/>
    <br/>

    Longitud de las barras  :   Longitud especifico de las barras.  La optimizacion de los cortes se hace en base 
                                a este valor.
    <br/>
    Agregar Longitud        :   Permite al usuario agregar una longitud de barra apretando la tecla Enter
    <br/>    
    Detalles                :   Resumen basico de las barras a utilizar (numero de barra, cortes de la barra 
                                y perdida por barra)
    <br/>
    <br/>
</p>
