

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
         <div class="row">

            <label class="col-sm-4 control-label">Tipo de perfil :</label>
            <div class="col-sm-6">
                <select class="btn btn-primary form-control" ng-model="selectedWindowPart" ng-change="refreshCanvas()">
                    <option ng-repeat="windowPartName in windowsPartsNames">{{windowPartName}}</option>
                  </select>
            </div>
             <div ng-controller="saveDocumentCtrl" class="col-sm-2">
                <button class="btn btn-success btn-lg" ng-click="saveDocument()">Guardar</button>
            </div>
        </div>
        <hr/>

        <div class="col-xs-12 col-md-4">
            
            <label for="sticksSize">Longitud de las barras</label>
            <input type="number" class="form-control" ng-model="sticksSize" return-press="refreshCanvas()"name="sticksSize" placeholder="Milimetros..."/>
            
             <br/>  
            <div>
                <table class="table table-striped table-hover ">
                    <tr>
                        <td>                                
                            <strong>Ventana</strong>
                        </td>
                        <td>
                            <strong>Longitud [mm]</strong>
                        </td>                       
                    </tr>
                    <tr ng-repeat = "longObject in longObjects">
                        <td>{{longObject.name}}</td>
                        <td>{{longObject.value}}</td>
                    </tr>
                </table>
            </div>
        </div>            
        
        <div class="col-xs-12 col-md-8" style="font-size: 12pt; line-height: 2em;">
            
           
            <div class="row">
                <canvas id="sticksCanvas" width="700" height="200"></canvas>
            </div>
            
            <div id="dataTable">
                <table class="table table-striped table-hover ">
                    <tr>
                        <td>Numero de la barra</td>
                        <td>Cortes [mm]</td>
                        <td>Perdida [mm]</td>
                    </tr>
                    <tr ng-repeat = "stickDetail in sticksDetails">
                        <td>{{stickDetail.numberOfStick}}</td>
                        <td>{{stickDetail.values}}</td>
                        <td>{{stickDetail.lostMilimeters}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    <div class="row">
        
        
        
    </div>

</div>
