<div class="container">
    <div class="row">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Archivos</div>
                <div class="panel-body">      
                    <div>
                        En esta seccion tu puedes cargar y guardar los datos que actualmente ingresaste en la 
                        aplicacion para utilizarlos posteriormente. Esto incluye las ventanas, los cortes y las configuraciones de las barras
                    </div>       
                    <br/>
                    <div class="row">
                        <div ng-show="enableLoadingFiles" data-ot="Cargar Ventanas" data-ot-delay="1" class="col-md-6">
                            <span class="btn btn-success btn-lg btn-file">
                                <i class="glyphicon glyphicon-arrow-up"/> Cargar Configuracion <input id="import" type="file">
                            </span>
                        </div>

                        <div data-ot="Salvar datos de las ventanas" data-ot-delay="1" class="col-md-6">
                            <button type="button" class="btn btn-success btn-lg" ng-click="exportJson()">
                                <i class="glyphicon glyphicon-arrow-down"/>
                                Salvar Configuracion
                            </button>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</div>