<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-success btn-lg" ng-click="addNewWindow()">Agregar Ventana</button>
        </div>
        
        <div class="col-xs-2">
            <a ng-href="#/calculator" class="btn btn-success btn-lg" ng-click="saveData()">Calcular</a>
        </div>
    </div>
    
    </br>
    
    <div class="row">        
        <div class="col-xs-12 col-md-12 col-lg-12 ">
            <div ag-grid="gridOptions" class="ag-fresh gridStyle"></div>
        </div>
    </div>
    </hr>
    
    <h3>Configuration</h3>
    <div class="row">        
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div ag-grid="configGridOptions" class="ag-fresh configurationGridStyle"></div>
        </div>
    </div>
</div>
